@font-face{
    font-family: 'Open-Sans';
    src: url('../../public/fonts/static/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Yandex-Sans';
    src: url('../../public/fonts/YandexSans/YandexSansText-Regular.ttf') format('truetype');
}

